<div class="navbar-container">
  <div class="homepage-container">
    <div class="homepage-content">
      <a href="#">Home page</a>
      <span>></span>
    </div>
  </div>

  <div class="portca-container">
    <div class="portfolio-content">
      <a href="#">Portfólio</a>
      <span>190+</span>
    </div>
    <div class="category-content">
      <a href="#">Category</a>
      <span>Collections</span>
    </div>
  </div>

  <div class="icons-container">
    <div><a href="#"><span>f</span></a></div>
    <div><a href="#"><span>t</span></a></div>
    <div><a href="#"><span>i</span></a></div>
  </div>
</div>
