<div class="card-profile-container">
  <div class="card-profile-title">
    <h3>LATEST POST</h3>
    <span>></span>
  </div>
  <div class="card-profile-img">
    <img src="https://images.unsplash.com/photo-1523253112282-26697ead8398?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1513&q=80%22" alt="#">
  </div>
  <div class="card-profile-type">
    <p>Design Generate</p>
    <p>45K views</p>
  </div>
  <div class="card-profile-description">
    <p>Testing popular <span>design tools</span> and evaluating them with MetroLab crew and artists.</p>
  </div>
</div>
