<div class="card-profile-container">
  <div class="card-profile-user-stats">
    <div class="card-profile-user-name">
      <h1>Albérico Eduardo </h1>
    </div>
    <div class="card-profile-user-profission">
      <div class="card-profile-support">
        <a href="#">Support Manager</a>
        <span>></span>
      </div>
      <div class="card-profile-prof"><p>Software Engineer - Lovelace</p></div>
    </div>
  </div>
  <div class="card-profile-user-photo">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTWyU0MUQGin9-cgm1aUUCPxfJeFGeNK9-ozIDFIq4WDg&s" alt="userPhoto">
    <div>
      <p>Send Donation</p>
    </div>
  </div>
</div>
